.header-section {
    background-color: #1155cc;
    
}

.container-fluid {
    width: 80% !important; 
}

.nav-menu {
    color: #fff;
    background-color: transparent;
}

.nav-link {
    color: #fff;
    background: transparent;
  }

.nav-button{
    
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #294;
    border: 1px solid #294;
    margin: 5px 0px;
   
}
.nav-button:hover{
    background-color: #22cc2c;
    background: #22cc2c;
    border: 1px solid #22cc2c;
}

.nav-link:focus, .nav-link:hover{
     color: #fff;
    background: transparent;
}

.header-logo{
    margin: -1%;
}

.header-section {
    padding-top: 5px;
}

.sub-heading{
    font-size: 28px;
    font-weight: 600 !important;
    color: #000;
}

.hero-heading{
    font-size: 42px;
    font-weight: 700 !important;
    color: #000;
    
}


.container.col-xxl-12.px-4.py-5 {
 
  }


  .hero-heading-white{
    font-size: 42px;
    font-weight: 700 !important;
    color: #fff;

}

.body-section{
    background-color: #1155cc;
}

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.white{
    color: #fff;
}

.stats-info{
    padding-top: 8%;
    padding-bottom: 3%;
    font-size: 38px;
}

.section-2-img{
    border-radius: 70px 70px 70px 70px;
    width: 550px;
    height: auto;
}


.section-2-list-head {

    font-weight: 600 !important;
    font-size:18px;
}


#what-makes-ippc-sec ul li {
    background-size: 45px !important;
    background: url(/assets/Black-arrow.png) no-repeat scroll 1px 4px transparent;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0;
    list-style: none;
    padding-left: 58px;
    padding-top: 11px;
}
.learn-more-btn {
    padding: 1% 0%;
  }

.body-section-3{
    background-color: #cfe2f3;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
  }